/*DeckUiCard.css*/
.deck-ui-card-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 16em;
    padding: 0;
    column-gap: 1em;
}
.deck-ui-card-container > div {
    height: inherit;
}
.deck-ui-card-header-left {
    width: 100%;
    display: flex;
}
.deck-ui-card-header-left > img {
    max-width: calc(100% - 2em);
    margin: auto;
    margin-left: 2em;
    max-height: calc(100% - 2em);
}
.deck-ui-card-metadata {
    width: calc(100% - 1em);
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.deck-ui-card-title {
    display: flex;
    border-bottom: 2px solid var(--gold-one);
    border-radius: 2px;
}
.deck-ui-card-title > h3 {
    align-self: flex-end;
    margin-bottom: 0.5em;
}
.deck-ui-card-description {
    overflow: hidden;
    height: calc(100% - 2em);
}