/*CardListViewer.css*/
.card-list-viewer {
	height: 100%;
	overflow: hidden;
	transition: all ease 0.4s;
	position: relative;
}
.card-list {
    display: grid;
}
.viewer-btn {
	height: 100%;
}
.dismiss-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.card-option-buttons {
	display: flex;
	flex-direction: column;
}
#left-side-controls, #right-side-controls {
	position: absolute;
	width: 48px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
#left-side-controls {
	left: 0;
}
#right-side-controls {
	right: 0;
}