/*CardListViewer.css*/
.card-list-viewer {
	height: 100%;
	overflow: hidden;
	transition: all ease 0.4s;
	position: relative;
}
.card-list {
    display: grid;
}
.viewer-btn.right {
	right: 0;
}
.viewer-btn.left {
	left: 0;
}	
.dismiss-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.card-option-buttons {
	display: flex;
	flex-direction: column;
}
#right-side-controls {
	width: 48px;
	display: flex;
	flex-direction: column;
}
#right-side-controls > .btn.viewer-btn.right {
    height: auto;
    flex-grow: 5;
    position: relative;
    width: 100%;
}
