/*Splash.css*/
.splash {
    background: url(../../../media/backgrounds/tyrell-faction.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
.splash-display {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    display: flex;
    flex-direction: row;
}
header {
    text-align: center;
    color: var(--light-main);
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'thronesdb';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-greyjoy:before {
    content: "\e601";
}