/*Modal.css*/
.modal-container, .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-container {
    display: flex;
}
.modal-bg {
    background-color: var(--dark-main-low-opacity);
    z-index: 1000;
}
.modal-display-container {
    position: relative;
    margin: auto;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 10em);
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 0 0.25em;
    color: var(--dark-main-low-opacity);
    border: 2px solid transparent;
}
.close-btn:hover {
    color: var(--dark-main);
    border-right: 2px solid var(--gold-one);
    border-top: 2px solid var(--gold-one);
}
.modal-display {
    display: flex;
    flex-direction: row;
}