/*FocusCard.css*/
.focus-card-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.plot-deck > .overlay-container > .overlay > .focus-card-container {
    grid-template-columns: 3fr 2fr;
}
.plot-deck-used > .overlay-container > .overlay > .focus-card-container {
    grid-template-columns: 3fr 2fr;
}