/*NoCards.css*/
.no-cards {
    height: var(--card-min-height);
    width: var(--card-min-width);
}
.no-cards > div {
    display: block;
    width: 100%;
    height: 100%;
}
.no-cards.landscape > div {
    transform: rotate(90deg);
}