/*GameBoard.css*/
.game-board {
    display: grid;
    column-gap: 1em;
    margin-top: 4em;
}
.area {
    display: grid;
    row-gap: 1em;
    background-color: var(--light-main);
    box-shadow: 0px 4px 5px 1px var(--dark-main-low-opacity);
    border: 2px solid var(--gold-one);
}
.border {
    position: relative;
    border: 0.125em solid var(--gold-one);
    height: calc(100% - 1.25em);
    margin: 0.5em;
    display: flex;
    justify-content: center;
}
.showing .border::before {
    content: attr(id);
    position: absolute;
    top: 0;
    left: 2em;
    transform: translateY(-50%);
    font-size: 0.75em;
    background-color: var(--light-main);
    border: 2px solid var(--gold-one);
    padding: 0.5em;
}
.lefthand-area, .righthand-area {
    position: relative;
}
.lefthand-area .card-img {
    max-width: var(--card-min-width);
}
.in-play-area {
    grid-template-rows: auto auto;
}
.righthand-area {
    grid-template-rows: auto auto;
}
.righthand-area > div:first-child {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.no-cards-portrait {
    height: 11.25;
    width: 8em;
}
.no-cards-landscape {
    height: 8em;
    width: 11.25em;
}
.character-area > .border, .location-area > .border {
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 0.5em;
}
.play-controls-area {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-around;
}
.play-controls-area > div {
    margin: 0 auto;
}
.collapsed > .area > div {
    overflow: hidden;
}
.collapsed img {
    opacity: 0;
}