/*GameBoard.css*/
.game-board {
    display: grid;
    width: 100%;
    grid-template-columns: 20em auto 20em;
    column-gap: 1em;
}
.plot-hud-display-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plot-hud-display-container > div {
    
}
.area {
    display: grid;
    row-gap: 1em;
    background-color: var(--light-main);
    box-shadow: 0px 4px 5px 1px var(--dark-main-low-opacity);
    border: 2px solid var(--gold-one);
}
.lefhand-area {
    grid-template-rows: 12em 12em;
}
.in-play-area {
    grid-template-rows: auto auto;
}
.righthand-area {
    grid-template-rows: 2fr 1fr;
}