/*Card.css*/
.card {
	transition: all ease 0.2s;
	height: 300px;
	cursor: pointer;
}
.card.knelt {
	transform: rotate(0.25turn) translateX(32px);
}
.card > img {
	max-width: 100%;
	max-height: 100%;
}
.area > .card-list-viewer > .card-list > .card {
	max-height: 120px;
}
