/*CardList.css*/
.card-list-container {
	width: 540px;
	background-color: #fff;
	border: 1px solid gray;
	margin: 24px;
	height: 280px;
}
.card-list {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 100%;
	height: 100%;
	grid-template-rows: auto auto;
	overflow: hidden;
}
.card-list.multiple > .card > img {
    width: 120px;
}
.card-list.single {
	
}
.card-list.multiple {
	
}