/*Overlay.css*/
.overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
}
.overlay {
	background-color: #fff;
	margin: auto;
	border: 2px solid #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: calc(100% - 64px);
	min-width: 40rem;
	max-height: 24rem;
}
.overlay-inner-container {
	padding: 24px;
}
