/*Button.css*/
button, .btn {
    display: flex;
    background-color: var(--accent-main);
    color: var(--light-main);
    border: 2px solid var(--gold-one);
    font-family: 'Julius Sans One', sans-serif;
    padding: 0.5em 1em;
    border-radius: 3px;
    max-width: 8em;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}
.back-button-container {
    display: flex;
}
.btn > div {
    margin: auto;
    color: var(--light-main);
}
.btn:active, .btn:focus {
    outline: 2px solid var(--gold-one);
    outline-offset: 0.25em;
}