/*PureCardList.css*/
.card-list.area {
	/* display: grid; */
}
.card-list {
	height: 100%;
	transition: all ease 0.4s;
}
.viewer-btn {
	height: 100%;
	width: 48px;
	position: absolute;
}
.viewer-btn.right {
	right: 0;
}
.viewer-btn.left {
	left: 0;
}	
.card-list-viewer {
	height: 100%;
	overflow: hidden;
	transition: all ease 0.4s;
	position: relative;
}
.card-list {
    display: grid;
}
.expand-btn {
	
}
.dismiss-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.area > .card-list-viewer > .card-list > .card {
	max-height: 120px;
}
.card-option-buttons {
	display: flex;
	flex-direction: column;
}
#right-side-controls {
	width: 48px;
	display: flex;
	flex-direction: column;
}
#right-side-controls > .btn.viewer-btn.right {
    height: auto;
    flex-grow: 5;
    position: relative;
    width: 100%;
}
#left-side-controls {
	
}
.card-data img {
	max-width: 16px;
}