:root {
    --light-main: #F2F2F2;
    --dark-main: #26140E;
    --dark-alt: #0D0706;
    --accent-main: #732E1F;
    --gold-one: rgb(140, 108, 69);
    --dark-main-low-opacity: rgba(51,41,39, 0.4);
}
html, body {
    height: 100vh;
    margin: 0;
}
div#root, .app {
    height: inherit;
}
.app {
    display: grid;
    grid-template-columns: auto 1fr;
}
.light {
    color: var(--light-main);
}
h1, h2, h3, h4, h5, a, p, span, div {
    font-family: 'Julius Sans One', sans-serif;
    color: var(--dark-main);
}
a {
    text-decoration: none;
}
.hover-float {
    transition: all ease 0.2s;
}
.hover-float:hover {
    transform: translateY(-0.1em);
    box-shadow: 0px 3px 6px 0px var(--dark-main-low-opacity);
}
.deck-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}