/*Hand.css*/
.hand > .btn {
	position: relative;
}
.hand > .btn > img {
	position: absolute;
	top: 1em;
	height: 3.1em;
}
.hand > .btn > img:first-child {
	transform: rotate(-123deg);
}
.hand > .btn > img:nth-child(2) {
	transform: rotate(-114deg);
	left: 0.5em;
}
.hand > .btn > img:last-child {
	transform: rotate(-103deg);
	left: 1em;
}