/*Nav.css*/
nav {
    display: flex;
    position: relative;
    height: 100%;
    box-shadow: 1px 1px 1px 1px var(--dark-main);
    background-color: var(--dark-main);
}
.center {
    background: url(../../../media/sprite-center.png);
}
.corner-left-top {
    background: url(../../../media/sprite-corner-t-l.png);
}
.corner-right-top {
    background: url(../../../media/sprite-corner-t-r.png);
}
.corner-left-bottom {
    background: url(../../../media/sprite-corner-b-l.png);
}
.corner-right-bottom {
    background: url(../../../media/sprite-corner-b-r.png);
}
.side-top {
    background: url(../../../media/sprite-side-t.png);
}
.side-bottom {
    background: url(../../../media/sprite-side-b.png);
}
.side-left {
    background: url(../../../media/sprite-side-l.png);
}
.side-right {
    background: url(../../../media/sprite-side-r.png);
}
.nav-controls-container {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    z-index: 2;
}
.nav-controls-container > div {
    height: 4em;
    display: flex;
}
.nav-controls-container > div > a {
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 100%;
    text-align: center;
}
.nav-controls-container > div > a > div {
    padding: 0 2em;
    margin: auto;
}